<div id="<%= dom_id store %>">
    <span><%= store.name %></span>
    <span><%= store.owner %></span>
    <%= render "transactions/transactions", transactions: store.transactions, balance: store.balance %>
    <br>
</div>
